<div class="container">
  <div class="row justify-content-center mb-3">
    <div class="btn-group btn-group-toggle post-filter-buttons">
      <label class="btn btn-primary" [class.active]="this.tab === '0'"
        [class.disabled]="this.usersRelation === UsersRelation.NotFollowing">
        <input type="radio" (click)="this.tab = '0'" [disabled]="this.usersRelation === UsersRelation.NotFollowing"> All
      </label>
      <label class="btn btn-primary" [class.active]="this.tab === '1'">
        <input type="radio" (click)="this.tab = '1'"> Public
      </label>
      <label class="btn btn-primary" [class.active]="this.tab === '2'"
        [class.disabled]="this.usersRelation === UsersRelation.NotFollowing">
        <input type="radio" (click)="this.tab = '2'" [disabled]="this.usersRelation === UsersRelation.NotFollowing">
        Private
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngIf="this.tab === '0'">
      <app-post-list [(posts)]="this.posts" [userId]="this.userId" [usersRelation]="this.usersRelation"
        [filter]="this.usersRelation === UsersRelation.NotFollowing ? PostStatus.Public : 0">
      </app-post-list>
    </div>
    <div class="col-12" *ngIf="this.tab === '1'">
      <app-post-list [(posts)]="this.posts" [filter]="PostStatus.Public" [userId]="this.userId"
        [usersRelation]="this.usersRelation"></app-post-list>
    </div>
    <div class="col-12" *ngIf="this.tab === '2'">
      <app-post-list [(posts)]="this.posts" [filter]="PostStatus.Private" [userId]="this.userId"
        [usersRelation]="this.usersRelation"></app-post-list>
    </div>
  </div>
</div>