/* You can add global styles to this file, and also import other style files */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
  background-color: #fafafa;
}

@media(max-width: 767px) {
  body {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  color:  #444;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
  color: rgb(49, 49, 49);
}

.row.center-colums > *{
  display: flex;
  justify-content: center;
}

textarea {
  resize: none;
}

@media (min-width: 1200px) {
  .col-xxl {
    flex: 0 0 20%;
    max-width: 20%;
  }
}


@media (min-width: 1350px) {
  .xxl-pad {
    padding: 0 5%;
  }
}

@media (min-width: 768px) {
  /* Post modal */
  .post-modal .modal-dialog {
    max-width: 740px;
    min-width: 550px;
    margin: 9.75rem auto;
  }

  /* Profile edit modal */
  .profile-edit-modal .modal-dialog {
    max-width: 300px;
    margin: 9.75rem auto;
  }

  /* followers modal */
  .followers-modal .modal-dialog {
    max-width: 270px;
    min-height: 500px;
    margin: 13.75rem auto;
  }
}

@media (max-width: 768px) {
  /* Post modal */
  .post-modal .modal-content {
    margin: 5vh 0;
  }
}

@media (max-width: 768px) {
  .followers-modal .modal-dialog {
    max-width: 270px;
    margin: 4.75rem auto;
  }
}

.spinner-container {
  height: 200px;
  display: flex;
  align-items: center;
}


/* START - Bootstrap theme corrections */
.btn {
  padding: 0.3rem 0.5rem;
  text-transform: none;
  font-weight: bold;
  transition: all 0.2s;
}
/* End - Bootstrap theme corrections */
