.app-post {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

@media (max-width: 1200px) {
  .app-post {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
  }
}

.posts-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts-not-found-container * {
  margin-bottom: 1rem;
}

.no-posts-container {
  min-height: 30vh;
}
