<div class="container">
  <div class="row no-gutters" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
  (scrolled)="this.onScroll()">
    <app-post class="col-sm-12 col-md-6 col-lg-4 app-post"
      *ngFor="let post of (this.posts | postStatusFiterPipe: this.filter)" [post]="post"
      (postCoverClick)="this.open($event)"></app-post>
  </div>
</div>
<div *ngIf="this.loading" class="col-12 d-flex justify-content-center spinner-container">
  <app-spinner ></app-spinner>
</div>
<div class="row justify-content-center no-posts-container" *ngIf="!(this.posts | postStatusFiterPipe: this.filter).length && !this.loading">
  <div class="posts-not-found-container" *ngIf="this.usersRelation !== UsersRelation.Me">
    <i class="fas fa-sad-tear  fa-3x"></i>
    <h3>No posts here</h3>
  </div>
  <div class="posts-not-found-container" *ngIf="this.usersRelation === UsersRelation.Me">
    <a [routerLink]="['/posts/create']"><i class="far fa-plus-square fa-3x"></i></a>
    <h3>New post</h3>
  </div>
</div>