<div class="container">
    <div class="col-md-12 d-flex">
        <img src="../../../assets/404.png" class="img-responsive">
    </div>
    <h2>Oops - that's not right!</h2>
    <br>
    <h3> Sorry, unless you really were hoping to find our 404 message, the page you were looking for has been moved or
        deleted!</h3>
</div>