.form-header {
  display: flex;
  justify-content: center;
}

.profile-edit-container {
  padding: 7%;
}

.profile-edit-container .row {
  margin-bottom: 3%;
}

.profile-edit-container label {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
}

.profile-edit-container .form-control {
  height: 40px;
  padding: 0;
}

.profile-edit-container .textarea-lable {
  padding-top: 3px;
  align-items: flex-start;
}

.profile-edit-container textarea.form-control  {
  height: 53px;
  padding-top: 2%;
}

.profile-edit-container small {
  color: red;
}