<div class="container profile-edit-container">
  <div class="row">
    <div class="col-md-12 form-header">
      <h4>Modify Your Profile</h4>
    </div>
  </div>
  <form [formGroup]="this.editProfileForm" (submit)="this.editUserProfile()">
    <div class="row">
      <label class="col-4">Usermame</label>
      <div class="col-8">
        <input type="text" class="form-control" formControlName="username"
          [class.is-invalid]='form.username.errors && (username.dirty || username.touched)'
          [class.is-valid]='!form.username.errors  && (username.dirty || username.touched)'>
        <span class="form-text" *ngIf="form.username.errors?.required && (username.dirty || username.touched)">
          <small>This field is required!</small>
        </span>
        <span class="form-text" *ngIf="!!form.username.errors?.minlength">
          <small>Minimum 2 characters !</small>
        </span>
        <span class="form-text" *ngIf="!!form.username.errors?.maxlength">
          <small>Maximum 20 characters!</small>
        </span>
      </div>
    </div>
    <div class="row">
      <label class="col-4">Email</label>
      <div class="col-8">
        <input type="text" class="form-control" formControlName="email"
          [class.is-invalid]='form.email.errors && (email.dirty || email.touched)'
          [class.is-valid]='!form.email.errors  && (email.dirty || email.touched)'>
        <span class="form-text text-muted" *ngIf="form.email.errors?.required && (email.dirty || email.touched)">
          <small>This field is required!</small>
        </span>
        <span class="form-text text-muted" *ngIf="!!form.email.errors?.email">
          <small>Email invalid!</small>
        </span>
      </div>
    </div>
    <div class="row">
      <label class="col-4">Password</label>
      <div class="col-8">
        <input type="password" class="form-control" formControlName="password"
          [class.is-invalid]='form.password.errors  && (password.dirty || password.touched)'
          [class.is-valid]='!form.password.errors  && (password.dirty || password.touched)'>
        <span class="form-text text-muted"
          *ngIf="form.password.errors?.required && (password.dirty || password.touched)">
          <small>This field is required!</small>
        </span>
        <span class="form-text text-muted" *ngIf="!!form.password.errors?.minlength">
          <small>Minimum 6 characters !</small>
        </span>
        <span class="form-text text-muted" *ngIf="!!form.password.errors?.maxlength">
          <small>Maximum 20 characters!</small>
        </span>
      </div>
    </div>
    <div class="row">
      <label class="col-4">Confirm password</label>
      <div class="col-8">
        <input type="password" class="form-control" formControlName="confirmPassword"
          [class.is-invalid]='form.confirmPassword.errors  && (password.dirty || password.touched)'
          [class.is-valid]='!form.confirmPassword.errors  && (password.dirty || password.touched)'>
        <span class="form-text text-muted" *ngIf="form.confirmPassword.errors?.mustMatch">
          <small >
            Passwords do not match!
          </small>
        </span>
      </div>
    </div>
    <div class="row mt-3">
      <label class="col-4 textarea-lable">Public Info</label>
      <div class="col-8">
        <textarea rows="2" class="form-control" formControlName="publicInfo"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="offset-4 col-8 mt-1">
        <button type="submit" [disabled]="!this.editProfileForm.valid" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>