.post-modal-container {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 450px;
}

.post-modal-img {
  width: 65%;
}

@media(min-width: 767px) {
  .post-modal-img img{
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}


.post-modal-img img {
  width: 100%;  
}

.post-modal-comments {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .post-modal-container {
    flex-direction: column;
  }
  
  .post-modal-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .post-modal-comments {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .post-modal-comments {
    position: relative;
  }

  .comment-list-container {
    height: 20vh;
  }
}

/* START - post profile */
.post-profile-container {
  border-bottom: solid 1px #e6e6e6;
}

.post-profile-container .btn {
  padding: 0.05rem 0.2rem;
  margin-left: 5px;
}

.post-profile-img img {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.post-info-container {
  margin: 2px 0;
  padding-top: 3px;
  border-top: solid 1px #e6e6e6;
}

.post-info {
  display: flex;
  flex-direction: column;
}

.post-info i{
  cursor: pointer;
}

.post-info > * {
  margin: 3px 0;
}

.post-date {
  text-transform: uppercase;
  color: gray;
}
/* END - post profile */

/* START - comments section */
.comment-list-container::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.comment-list-container::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.comment-list-container::-webkit-scrollbar-thumb
{
  background-color: #0ae;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

.comment-list-container {
  overflow-y: scroll;
  flex-grow: 2;
}
/* END - comments section */

.liked {
  font-weight: 600;
  color: #af0404;
}

.fa-lock, .fa-unlock {
  font-size: 1.9em;
  margin-left: 7px !important;
  color:rgba(105, 121, 213, 0.78);
}

.delete-confirm{
  
  font-weight: 500;
  padding-right: 10px;
}

.delete-ask{
  
  font-weight: 500;
  margin-left: 10px;
}

.btn-sm {
  margin-right: 3px;
}

label{
  margin-bottom: 0;
}
