<div class="post-modal-container">
  <div class="post-modal-img">
    <img [src]="this.post.coverUrl">
  </div>
  <div class="post-modal-comments">
    <div class="container-flud post-profile-container">
      <app-small-user-profile [user]="this.post.user"></app-small-user-profile>
    </div>
    <div class="comment-list-container" #scrollMe>
      <app-comment-list [comments]="this.comments" (createComment)="this.createComment($event)"></app-comment-list>
    </div>
    <div>
      <div class="container post-info-container">
        <div class="row align-items-center">
          <div class="col-12 post-info">
            <div>
              <i [class.liked]="this.isPostLiked" class="far fa-heart fa-2x" (click)="this.likePost()"></i>
              <i *ngIf="this.usersRelation === UsersRelation.Me && this.post.postStatus === PostStatus.Private"
                class="fas fa-lock " (click)="this.changePostStatus(PostStatus.Public)"></i>
              <i *ngIf="this.usersRelation === UsersRelation.Me && this.post.postStatus === PostStatus.Public"
                class="fas fa-unlock " (click)="this.changePostStatus(PostStatus.Private)"></i>
            </div>
            <div><strong>{{ this.post.likesCount }} likes</strong></div>
            <div class="post-date">{{ this.post.createdAt | dateFromNowPipe }}</div>
            <div *ngIf="this.usersRelation === this.UsersRelation.Me">
              <div *ngIf="!this.deleteConfirm">
                <i class="fas fa-trash-alt" (click)="this.toggleDeleteConfirm()"></i><label class="delete-ask"
                  (click)="this.toggleDeleteConfirm()">Delete
                  post</label>
              </div>
              <div *ngIf="this.deleteConfirm">
                <div class="delete-confirm">
                  Are you sure?
                  <button type="button" class="btn btn-primary btn-sm" (click)="this.deletePost()">Yes</button>
                  <button type="button" class="btn btn-primary btn-sm" (click)="this.toggleDeleteConfirm()">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-comment-form (commentReady)="this.createComment($event)"></app-comment-form>
  </div>
</div>