.dropdown-container {
  position: absolute;
  overflow-y: auto;
  max-height: 222px;
  width: 330px;
  background-color: red;
  border: solid 1px black;
  background: #fff;
  border: solid 1px #e6e6e6;
  border-radius: 3px;
}

.dropdown-user {
  border-bottom: solid 1px #e6e6e6;
}

.dropdown-user:hover {
  background-color: #fafafa;
}


@media (max-width: 768px) {
  .dropdown-container {
    position: unset;
    width: 70vw;
  }

}
