<div class="container">
  <div *ngIf="this.posts.length" class="row post-list-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
    (scrolled)="this.onScroll()">
    <div class="col-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6" *ngFor="let post of this.posts">
      <app-post-detail [post]="post" (postCoverClick)="this.open($event)"></app-post-detail>
    </div>
    <div class="col-12 d-flex justify-content-center spinner-container">
      <app-spinner *ngIf="this.loading"></app-spinner>
    </div>
  </div>
  <div *ngIf="!this.posts.length" class="row">
    <div class="col-12 offset-md-3 col-md-6 all-users-container">
      <app-small-user-profile *ngFor="let user of this.users" [user]="user"></app-small-user-profile>
    </div>
  </div>
</div>