<footer class="d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col-5 col-lg-3 footer-container">
        <img src="../../../assets/telerik-academy-alpha.svg" alt="telerik-academy-alpha">
      </div>
      <div class="col-1 col-lg-5"></div>
      <div class="col-6 col-lg-4 footer-container">
        <h6>Technologies:</h6>
        <img src="https://miro.medium.com/max/816/1*mn6bOs7s6Qbao15PMNRyOA.png" alt="upnetix-title">
        <img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" alt="upnetix-title">
        <img src="https://d33wubrfki0l68.cloudfront.net/49c2be6f2607b5c12dd27f8ecc8521723447975d/f05c5/logo-small.cbbeba89.svg" alt="upnetix-title">
      </div>
    </div>
  </div>
</footer>