footer {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background-color:#ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-top: 1px solid #dbdbdb;
  padding-top: 8px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-container img  {
  max-height: 50px;
  margin-bottom: 2%;
}

footer h1 {
  color: black;
}

.nav-link {
  max-height: 80%;
  font-weight: bolder;
  width:auto;
}


#upnetix-title{
  width: 5%;
}

#telerik{
  width: 20%;
}