.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #dbdbdb;
}

.navbar-nav i {
  cursor: pointer;
}

.collapse {
  display: block;
}

.navbar-collapse {
  max-height: 200px;
  transition: all 0.5s ease-in-out;
}

.header-container .collapse{
  max-height: 0;
}

.navbar-brand img {
  height: 50px;
  cursor: pointer;
}

.navbar-brand img:focus 
{
  outline: 0;
  border: 0 none;
} 

.navbar-container {
  justify-content: space-between;
}

.navbar {
  box-shadow: 0 1px 7px rgba(202, 202, 202, 0.3);
  padding: 0.5rem 1rem;
}

.form-control {
  padding: 0.4rem 0;
  height: auto;
}

.form-inline input:focus + i {
  cursor: pointer;
  color: #42a6f5;
}

.active > .nav-link {
  color: rgba(0, 0, 0, 0.7);
}

.my-ml {
  margin-left: 23%;
}

.search-container {
  position: relative;
}

.dropdown-search {
  position: absolute;
  bottom: -10px;
  left: -65px;
}

.dropdown-search:hover {
  background-color: #fafafa;
}

@media (max-width: 991px) {
  .overflow-hidden {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  .search-container {
    display: flex;
    justify-content: center;
  }

  .form-control {
    width: 72%;
  }

  .navbar-nav a {
    display: flex;
    justify-content: center;
  }

  .dropdown-search {
    position: absolute;
    top: 124%;
    left: auto;
    
  }
}

