<header [class.overflow-hidden]="!this.isSearchFocused" class="header-container" (clickOutside)="this.handleClickOutsideHeader($event)">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand"><img id="homeIcon" src="../../../assets/IShare-logo.png" alt="homeIcon"
          [routerLink]="['/posts/all']"></a>
      <button class="navbar-toggler" type="button" (click)="this.isCollapsed = !this.isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [class.collapse]="this.isCollapsed" class="navbar-collapse navbar-container" id="navbarColor01">
        <ul class="navbar-nav">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['posts/all']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" *ngIf="this.loggedUserData">
            <a class="nav-link" [routerLink]="['users', this.loggedUserData ? this.loggedUserData.id : '']">Profile</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" *ngIf="this.loggedUserData">
            <a class="nav-link" [routerLink]="['/posts/create']">New post</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!this.loggedUserData">
            <a class="nav-link" [routerLink]="['users/login']">Login</a>
          </li>
          <li class="nav-item d-block d-md-none" *ngIf="this.loggedUserData">
            <a class="nav-link" (click)="this.logout()">Logout</a>
          </li>
        </ul>
        <form *ngIf="this.loggedUserData" class="search-container form-inline my-2 my-lg-0" [formGroup]="this.search">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" formControlName="query"
            (input)="this.searchInputHandle()" (focus)="this.isSearchFocused = true">
          <i class="fas fa-search"></i>
          <div *ngIf="this.users.length && this.isSearchFocused" class="dropdown-search">
            <app-search-dropdown [users]="this.users" (clickOutside)="this.handleClickOutsideSearch($event)"></app-search-dropdown>
          </div>
        </form>
        <ul class="navbar-nav my-ml d-none d-md-block">
          <li *ngIf="this.loggedUserData" class="nav-item">
            <a class="nav-link" (click)="this.logout()"><i class="fas fa-sign-out-alt fa-lg"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>