<div class="post-feed-container">
  <app-small-user-profile [user]="this.post.user"></app-small-user-profile>
  <div class="post-feed-img" (click)="this.postClickHandle($event)">
    <img [src]="this.post.coverUrl">
  </div>
  <div class="post-info-container">
      <div class="post-info">
        <div *ngIf="this.loggedUser">
          <i [class.liked]="this.isPostLiked" class="far fa-heart fa-2x" (click)="this.likePost()"></i>
        </div>
        <div><strong>{{ this.post.likesCount }} likes</strong></div>
        <div class="post-date">{{ this.post.createdAt | dateFromNowPipe }}</div>
      </div>
    </div>
</div>