.post-feed-container {
  margin-bottom: 5%;
  background-color: white;
  border: 0.2px solid #dbdbdb;
}

.post-feed-img img {
  width: 100%;
}

.post-info {
  padding: 15px;
}

.post-info i {
  cursor: pointer;
}

.liked {
  font-weight: 600;
  color: #af0404;
}