.fixed-header-padding {
  margin-top: 85px;
}

/* .fas {
  width: 20px;
  height: 20px;
  color: lightblue;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 50%;
}

.btn:hover {
  background-color: RoyalBlue;
} */

.add-post {
  margin-bottom: 8%;
}

