<div class="row fixed-header-padding ">
  <app-header class="col-12"></app-header>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<div class="row">
  <app-footer class="w-100"></app-footer>
</div>