<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="this.createPostForm" class="text-center border border-light form-container"
      (ngSubmit)="this.submitPost()">
      <h3 class="text-center">Post a picture to share with your awesome followers</h3>
        <div class="form-group">
          <div *ngIf='!this.fileData'>
            <div class="uploadfilecontainer" appDragDrop (fileDropEvent)="this.imageDrop($event)">
              <input hidden type="file" #fileInput (change)="this.fileProgress($event)" formControlName="coverUrl">
              <label>Drop an Image here</label>
            </div>
            
          </div>
          <div *ngIf='this.fileData'>
            <div class="file-preview" *ngIf="previewUrl">
              <img class="image-preview" [src]="previewUrl" />
            </div>
          </div>
          <input type="file" #chooseFile class="file" (change)="this.fileProgress($event)" formControlName="coverUrl">
          <div class="input-group col-xs-12">
            <input type="text" class="form-control input-lg" disabled
              [placeholder]="this.fileData ? this.fileData.name : 'Upload Picture'">
            <span class="input-group-btn">
              <button (click)="chooseFile.click()" class="browse btn btn-primary input-lg" type="button"><i
                  class="fas fa-search-plus">
                </i> Browse</button>
            </span>
          </div>
          <div class="input-group-addon">
            <input type="text" name="caption" (value)="this.post.caption" class="form-control mb-4"
              formControlName="caption" placeholder="Enter you post caption here" />
            <span class="custom-control custom-switch">
              <label [class.active]="!this.createPostForm.value.postStatus"
                class="post-status-label public-status-label">Private</label>
              <input type="checkbox" class="custom-control-input" id="customSwitch2" checked="1"
                formControlName="postStatus">
              <label [class.active]="this.createPostForm.value.postStatus"
                class="post-status-label custom-control-label" for="customSwitch2">Public</label>
            </span>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>