.container {
    margin-top: 7%;
    margin-bottom: 7%;
    align-content: center;
    
}

.file {
    visibility: hidden;
    position: absolute;
}

.form-container {
    margin: auto;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 9px;
    max-width: 600px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #dbdbdb;
}



.file-preview {
    padding: 6px;
    padding-bottom: 12px;
   
}


.uploadfilecontainer {
    background-image: url("../../../assets/upload.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 350px;
    width: 95%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadfilecontainer label{
    margin-top: 30%;
}

@media(max-width: 600px) {
    .uploadfilecontainer {
        background-image: none;
    }

    .uploadfilecontainer label{
        display: none;
    }
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

.image-preview {
    border-radius: 5px;
    width: 94%;
}

.post-status-label {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.public-status-label {
    margin-right: 85px
}

.custom-switch {
    padding-left: 0;
}

.active {
    color: #444;
}