<div class="container followers-modal-container">
  <div class="row">
    <div class="col-12 modal-header">
      <h4>{{ this.listHeader }}</h4>
    </div>
  </div>
  <div class="row user-list-container">
    <div class="col-12">
      <div class="row" *ngFor="let user of this.users">
        <div class="container-fluid">
          <app-small-user-profile (unfollow)="this.unfollowUserHandle($event)" [user]="user"></app-small-user-profile>
        </div>
      </div>
    </div>
  </div>
</div>