.followers-modal-container {
  min-height: 300px;
}

.modal-header {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.modal-header h4 {
  margin: 0;
}

.user-list-container {
  overflow-y: auto;
}

.user-list-container::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.user-list-container::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.user-list-container::-webkit-scrollbar-thumb
{
  background-color: #0ae;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

.followers-modal-container .row {
  margin-bottom: 10px;
}
