<div class="container-flud comment-container">
  <div class="row no-gutters">
    <div class="col-3 comment-profile-img">
      <img [src]="this.comment.user.profilePicUrl">
    </div>
    <div class="col-7">
      <div class="row no-gutters">
        <a [routerLink]="comment ? ['/users/', this.comment.user.id] : ''" class="col-12 comment-user">{{ comment ? comment.user.username : '' }}</a>
      </div>
      <div class="row no-gutters">
        <div class="col-12 comment-content">{{ comment ? comment.content : '' }}</div>
      </div>
    </div>
  </div>
</div>