<div class="row login-container ">
  <div class="offset-2 col-8 login-col">
    <form [formGroup]="this.loginForm" class="text-center border border-light form-container"
      (ngSubmit)="this.login(this.loginForm.value)">

      <p class="h4 mb-4">Sign in</p>

      <input type="usernameOrEmail" id="defaultLoginFormUsername" class="form-control mb-4"
        formControlName="usernameOrEmail" placeholder="Username or email">

      <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" formControlName="password"
        placeholder="Password">

      <button block="true" class="my-4 btn btn-primary" type="submit">Sign in</button>

      <p><span class="color-black">Not a member? </span>
        <a [routerLink]="['/users/register']">Register</a>
      </p>

    </form>
  </div>
</div>