.small-user-container {
  padding: 0 15px;
}

.small-user-container > div{
  display: flex;
  align-items: center;
}

.post-profile-img img {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.follow-buttons {
  justify-content: flex-end;
}

.small-user-container{
  height: 54px;
}

