<div class="row no-gutters justify-content-between small-user-container">
  <div class="col-6 post-profile-img">
    <img [src]="this.user.profilePicUrl">
    <a [routerLink]="['/users', this.user.id]" class="post-user">{{ this.user.username }}</a>
  </div>
  <div class="col-6 follow-buttons">
    <button *ngIf="this.usersRelation === UsersRelation.NotFollowing" class="btn btn-primary"
      (click)="this.followUser()">Follow</button>
    <button *ngIf="this.usersRelation === UsersRelation.Following" class="btn btn-primary"
      (click)="this.unfollowUser()">Unfollow</button>
  </div>
</div>