
.gallery-item {
  position: relative;
  cursor: pointer;
  background-color: white;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
}

.gallery-item-info {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info div {
  width: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item-info i {
  margin-right: 4px;
}

.gallery-item-info i, 
.gallery-item-info span {
  font-size: 20px;
  color: white;
}


.post-img {
  width: 310px;
  height: 310px;
  overflow: hidden;
  border-radius: 2%;
}

@media (max-width: 1200px) {
  .post-img {
    width: 260px;
    height: 260px;
    overflow: hidden;
    border-radius: 2%;
  }
}

@media (max-width: 992px) {
  .post-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 2%;
  }
}

@media (max-width: 768px) {
  .post-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 2%;
  }
}

.post-img img {
  height: 100%;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}