<div class="gallery-item" (click)="this.postClickHandle()">
    <div class="post-img">
        <img [src]="this.post.coverUrl">
    </div>
    <div class="gallery-item-info">
        <div>
            <i class="fas fa-heart" aria-hidden="true"></i>
            <span>{{ this.post.likesCount }}</span>
        </div>
        <div>
            <i class="fas fa-comment" aria-hidden="true"></i>
            <span>{{ this.post.commentsCount }}</span>
        </div>
    </div>
</div>