.card {
  width: 500px;
}

.login-container {
  margin-top: 15vh;
}

.card-title {
  padding-left: 112px;
  margin-top: 30px;
}

.login-col {
  display: flex;
  justify-content: center;
}

.input-filed {
  height: 70px;
}

.form-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  width: 235px;
  border: 1px solid #dbdbdb;
}