<div class="row login-container ">
  <div class="offset-2 col-8 login-col">
    <form class="border border-light form-container" [formGroup]="this.registerForm"
      (ngSubmit)="this.register(this.registerForm.value)">
      <h4 class="text-center mb-4">Sign up</h4>
      <div class="input-filed"
        [class.has-danger]='form.username.errors && (username.dirty || username.touched)'
        [class.has-success]='!form.username.errors  && (username.dirty || username.touched)'>
        <input type="text" class="form-control " formControlName="username" placeholder="Username"
          [class.is-invalid]='form.username.errors && (username.dirty || username.touched)'
          [class.is-valid]='!form.username.errors  && (username.dirty || username.touched)'>
        <span class="invalid-feedback"
          *ngIf="form.username.errors?.required && (username.dirty || username.touched)">
          This field is required!
        </span>
        <span class="invalid-feedback" *ngIf="!!form.username.errors?.minlength">
          Minimum 2 characters !
        </span>
        <span class="invalid-feedback" *ngIf="!!form.username.errors?.maxlength">
          Maximum 20 characters!
        </span>
      </div>

      <div class="input-filed" 
      [class.has-danger]='form.email.errors && (email.dirty || email.touched)'
      [class.has-success]='!form.email.errors  && (email.dirty || email.touched)'>
        <input type="email" class="form-control " formControlName="email" placeholder="email"
          [class.is-invalid]='form.email.errors && (email.dirty || email.touched)'
          [class.is-valid]='!form.email.errors  && (email.dirty || email.touched)'>
        <span class="invalid-feedback" *ngIf="form.email.errors?.required && (email.dirty || email.touched)">
          This field is required!
        </span>
        <span class="invalid-feedback" *ngIf="!!form.email.errors?.email">
         Email invalid!
        </span>
      </div>

      <div class="input-filed" 
      [class.has-danger]='form.password.errors && (password.dirty || password.touched)'
      [class.has-success]='!form.password.errors  && (password.dirty || password.touched)'>
        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password"
          formControlName="password" [class.is-invalid]='form.password.errors  && (password.dirty || password.touched)'
          [class.is-valid]='!form.password.errors  && (password.dirty || password.touched)'>
        <span class="invalid-feedback"
          *ngIf="form.password.errors?.required && (password.dirty || password.touched)">
          This field is required!
        </span>
        <span class="invalid-feedback" *ngIf="!!form.password.errors?.minlength">
         Minimum 6 characters !
        </span>
        <span class="invalid-feedback" *ngIf="!!form.password.errors?.maxlength">
          Maximum 20 characters!
        </span>
      </div>
      <div class="input-filed" 
      [class.has-danger]='form.confirmPassword.errors && (form.confirmPassword.dirty || form.confirmPassword.touched)'
      [class.has-success]='!form.confirmPassword.errors  && (form.confirmPassword.dirty || form.confirmPassword.touched)'>
        <input type="password" id="defaultRegisterPhonePassword" class="form-control" placeholder="Confirm Password"
          formControlName="confirmPassword"
          [class.is-invalid]='form.confirmPassword.errors  && (form.confirmPassword.dirty || form.confirmPassword.touched)'
          [class.is-valid]='!form.confirmPassword.errors  && (form.confirmPassword.dirty || form.confirmPassword.touched)'>
        <span class="invalid-feedback" *ngIf="form.confirmPassword.errors?.mustMatch">
          Passwords do not match!
        </span>
      </div>
      <div class="text-center">
        <button color="info" block="true" class="btn btn-primary mt-4" type="submit">Sign in</button>
      </div>
    </form>
  </div>
</div>