<div class="container my-5 profile-section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-4 offset-lg-2 col-lg-3 profile-image">
      <div class="image-container">
        <img [src]="this.user.profilePicUrl" alt="Profile Picture" 
          class="profile-image-source">
        <input hidden type="file" #fileInput (change)="this.editProfilePic($event)">
      </div>
      <div class="edit-profile-pic " (click)="fileInput.click()" *ngIf="this.user.id == this.loggedUser.id">
          <i class="fas fa-camera" aria-hidden="true" (click)="fileInput.click()"></i>
      </div>
    </div>
    <div class="col-10 col-md-8 col-lg-7 d-flex align-items-center">
      <div class="row">
        <div class="col-12 col-lg-6 profile-user-settings">
          <h2>{{ this.user.username }}</h2>
          <i *ngIf="this.usersRelation === UsersRelation.Me" class="fas fa-user-edit" (click)="this.editProfile()"></i>
          <button *ngIf="this.usersRelation === UsersRelation.NotFollowing" class="btn btn-primary profile-edit-btn"
            (click)="this.followUser.emit()">Follow</button>
          <button *ngIf="this.usersRelation === UsersRelation.Following" class="btn btn-primary profile-edit-btn"
            (click)="this.unfollowUser.emit()">Unfollow</button>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-8 col-lg-7 profile-stats">
          <ul>
            <li><strong class="profile-stat-count">{{ this.user.postsCount }}</strong> posts</li>
            <li class="profile-stat-count pointer" (click)="this.showFollowers()">
              <strong>{{ this.user.followersCount }}</strong> followers</li>
            <li class="profile-stat-count pointer" (click)="this.showFollowing()">
              <strong>{{ this.user.followingCount }}</strong> following</li>
          </ul>
        </div>
        <div class="w-100"></div>
        <div class="col-12">
          <p>
            <strong>{{ this.user.username }}&nbsp;&nbsp;</strong>{{ this.user.publicInfo + ' 📷✈️🏕️' }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
