.profile-section {
  font-size: 16px;
}

.profile-image {
  display: flex;
  justify-content: center;
}

.profile-image img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  position: relative;
}

.profile-image:hover .edit-profile-pic,
.profile-image:focus .edit-profile-pic{
  display: flex;
}

.edit-profile-pic {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: absolute;
  top: 0;
  width: 150px;
  height: 150px;  
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}

.edit-profile-pic:hover {
  cursor: pointer;
}

.edit-profile-pic div {
  justify-content: center;
  align-items: center;
}

.edit-profile-pic i {
  margin-right: 4px;
}

.edit-profile-pic i, 
.edit-profile-pic span {
  font-size: 20px;
  color: white;
}

.profile-user-settings {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.profile-user-settings h2 {
  user-select: none;
  margin: 0
}

.profile-user-settings i,
.profile-user-settings button {
  margin-left: 15px;
}

.profile-user-settings i {
  cursor: pointer;
  color: #00000080;
}

.profile-user-settings i:hover {
  color: #444;
  transition: all 0.2s;
  border-style: none;
}

.profile-stats ul{
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style-type: none;
}

.profile-desc {
  justify-content: center;
}

.pointer {
  cursor: pointer;
}




img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border: 5px solid #000;
  border-radius: 50%;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);   
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}


@media (max-width: 768px) {
  .profile-image {
    margin-bottom: 11%;
  }
}

@media (max-width: 460px) {
  .profile-stats {
    display: flex;
  }

  .profile-stats ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .profile-user-settings {
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .profile-stats ul {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .profile-stats  {
    display: flex;
    justify-content: center;
  }
}

