<form class="comment-form" [formGroup]="this.commentForm" (submit)="this.onSubmit($event)">
  <fieldset>
    <div>
      <input type="text" class="form-control" formControlName="content"
        placeholder="Comment here">
    </div>
  </fieldset>
</form>