<div class="row">
  <div class="col-12">
    <app-profile-section [user]="this.user" [usersRelation]="this.usersRelation" (followUser)="this.followUser()"
      (unfollowUser)="this.unfollowUser()"></app-profile-section>
  </div>
  <div class="col-12">
    <app-profile-posts-section [usersRelation]="this.usersRelation" [posts]="this.posts" [userId]="this.user.id">
    </app-profile-posts-section>
  </div>
</div>